*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* to avoid marginRight that applies to html body when modal opens */
.chakra-ui-light{
  /* overflow: hidden; */
  margin-right: 0 !important;
}